span.glyphicon-shopping-cart {
    font-size: 1.4em;
}

label.error {
	color: red;
	padding-left: 16px;
	margin-left: .3em;
}

.login-box {
	width:50%;
}

.red {
	color:red;
}

.black {
	color:black;
}

.logo {
	height: 50px;
}

.nav-msg {
	color:black!important;
	margin-left: 200px;
	/*font-family: fantasy;*/
	font-weight: 900;
	font-size: 18px;
}

.navbar .divider-vertical {
height: 50px;
margin: 0 9px;
border-right: 2px solid #ffffff;
border-left: 2px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
border-right-color: #222222;
border-left-color: #111111;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}