<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Team15-HW1</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>control.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginError</display-name>
    <servlet-name>LoginError</servlet-name>
    <servlet-class>control.LoginError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginError</servlet-name>
    <url-pattern>/LoginError</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>control.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Booking</display-name>
    <servlet-name>Booking</servlet-name>
    <servlet-class>control.Booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Booking</servlet-name>
    <url-pattern>/Booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightSearch</display-name>
    <servlet-name>FlightSearch</servlet-name>
    <servlet-class>control.FlightSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightSearch</servlet-name>
    <url-pattern>/FlightSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>control.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightSearchResult</display-name>
    <servlet-name>FlightSearchResult</servlet-name>
    <servlet-class>control.FlightSearchResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightSearchResult</servlet-name>
    <url-pattern>/FlightSearchResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightSearchQuery</display-name>
    <servlet-name>FlightSearchQuery</servlet-name>
    <servlet-class>control.FlightSearchQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightSearchQuery</servlet-name>
    <url-pattern>/FlightSearchQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingHistory</display-name>
    <servlet-name>BookingHistory</servlet-name>
    <servlet-class>control.BookingHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingHistory</servlet-name>
    <url-pattern>/BookingHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewAndBook</display-name>
    <servlet-name>ReviewAndBook</servlet-name>
    <servlet-class>control.ReviewAndBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewAndBook</servlet-name>
    <url-pattern>/ReviewAndBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transaction</display-name>
    <servlet-name>Transaction</servlet-name>
    <servlet-class>control.Transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/Transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teste</display-name>
    <servlet-name>Teste</servlet-name>
    <servlet-class>control.Teste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teste</servlet-name>
    <url-pattern>/Teste</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestAjax</display-name>
    <servlet-name>TestAjax</servlet-name>
    <servlet-class>utilities.TestAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestAjax</servlet-name>
    <url-pattern>/TestAjax</url-pattern>
  </servlet-mapping>
</web-app>